<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Microsoft Teams Hello World Sample App
    </title>
    <script src="https://res.cdn.office.net/teams-js/2.10.1/js/MicrosoftTeams.min.js"
            integrity="sha384-Tc1x2xjzm4vRqLV4l416qPm+i7t8ujpxrioZEjRCNP7g/gQNDW41TB1SpVkQxowY"
            crossorigin="anonymous"></script>
    <script src="/static/scripts/teamsapp.js"></script>
</head>

<body class="theme-light">
  <div class="surface">
    <div class="panel">
      <div class="font-semibold font-title">Configure your app here
      </div>
    </div>
  </div>
  </div>
</body>

</html>