<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/styles/custom.css" />
    <script
      src="https://res.cdn.office.net/teams-js/2.9.1/js/MicrosoftTeams.min.js"
      integrity="sha384-xnsUQ1tUqsrutBJl0vuf4/hufzLFWW8ZhGnhItfpQ0/BtWgM2uw6YT6BQ5YaKBSM"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>Microsoft Teams Tab</title>
  </head>

  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div>
      <img
        src="../static/Rubber_duck_assisting_with_debugging.jpg"
        alt="Cute Rubber Duck"
      />

      <h3>Rubber Duck Assisting with Collaboration</h3>
      <div>
        <button id="takeBtn">Take the Rubber Duck</button>
      </div>
      <div>
        <button id="returnBtn">Return the Rubber Duck</button>
      </div>
      <span id="owned">
        <p>The Rubber Duck is owned by</p>
        <p id="owner"></p>
      </span>
      <span id="free">
        <p>The Rubber Duck is free</p>
      </span>

      <div>
        <h3>Follow the steps when updating the BI dashboard</h3>
        <ol>
          <li>Take the rubber duck</li>
          <li>Download the latest .pbix file from BI page</li>
          <li>Make your changes and publish it</li>
          <li>Return the rubber duck</li>
        </ol>
      </div>
    </div>
    <script type="text/javascript">
      let currentUser = "";
      let channelId = "";

      const takeEffect = (name) => {
        $("#owned").show();
        $("#free").hide();
        $("#takeBtn").hide();
        name === currentUser ? $("#returnBtn").show() : $("#returnBtn").hide();
        $("#owner").text(name);
      };

      const returnEffect = (name) => {
        $("#owned").hide();
        $("#free").show();
        $("#takeBtn").show();
        $("#returnBtn").hide();
        $("#owner").text("");
      };

      const errorEffect = (xhr, status, error) => {
        alert("Error: " + error);
      };

      $(document).ready(function () {
        // Take the Rubber Duck
        $("#takeBtn").click(function () {
          $.ajax({
            url: "/take",
            type: "POST",
            data: { name: currentUser, channelId: channelId },
            success: () => takeEffect(currentUser),
            error: errorEffect,
          });
        });

        // Return the Rubber Duck
        $("#returnBtn").click(function () {
          $.ajax({
            url: "/return",
            type: "POST",
            data: { name: currentUser, channelId: channelId },
            success: returnEffect,
            error: errorEffect,
          });
        });

        microsoftTeams.app.initialize().then(() => {
          microsoftTeams.app.getContext().then(function (context) {
            console.log(JSON.stringify(context));
            currentUser = context?.user?.userPrincipalName;
            channelId =
              context?.channel?.id ||
              context?.team?.internalId ||
              context?.chat?.id;

            $.get("/duck/" + channelId, function (response) {
              if (response.name) {
                takeEffect(response.name);
              } else {
                returnEffect();
              }
            });

            // Hide the loading indicator
            microsoftTeams.appInitialization.notifySuccess();
          });
        });
      });
    </script>
  </body>
</html>
